[project]
channels = ["conda-forge"]
name = "metadata-schema"
platforms = ["linux-64", "osx-64", "win-64"]
version = "0.3.1"

[tasks]
validate-objects = {cmd = [
    "bash", "-c",
    '''
    cd schemas
    for file in curation eln experimental figure_description projects source system; do
        check-jsonschema --base-uri . --schemafile ./${file}.json ../examples/objects/${file}.yaml
    done
    '''
]}
validate-file-schemas = {cmd = [
    "bash", "-c",
    '''
    cd schemas
    for file in autotag svgdigitizer; do
        check-jsonschema --base-uri . --schemafile ./${file}.json ../examples/file_schemas/${file}.yaml
    done
    '''
]}
validate-package-schemas = {cmd = [
    "bash", "-c",
    '''
    cd schemas
    check-jsonschema --base-uri . --schemafile ./echemdb_package.json ../examples/file_schemas/echemdb_package.json
    check-jsonschema --base-uri . --schemafile ./svgdigitizer_package.json ../examples/file_schemas/svgdigitizer_package.json
    '''
]}
validate = { depends-on = ["validate-objects", "validate-file-schemas", "validate-package-schemas"] }

[dependencies]
check-jsonschema = "*"
