name: Lint
on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python-linter:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.59.0 }
      - name: pylint
        run: pixi run pylint
      - name: black
        run: pixi run black --diff --check
      - name: isort
        run: pixi run isort --check --diff
