name: Test
on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        environment: ["python-310", "python-311", "python-312", "python-313", "python-314"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.59.0 }
      - name: doctest
        run: pixi run -e ${{ matrix.environment }} doctest
      - name: test-comprehensive
        run: pixi run -e ${{ matrix.environment }} test-comprehensive
      - name: test-resolved-schemas
        run: pixi run -e ${{ matrix.environment }} test-resolved-schemas
