name: Validate Examples

on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.63.2 }
      - name: validate-objects
        run: pixi run validate-objects
      - name: validate-file-schemas
        run: pixi run validate-file-schemas
      - name: validate-package-schemas
        run: pixi run validate-package-schemas
